blinker
chardet
click
contourpy
cycler
et-xmlfile
flask
flask-sqlalchemy
fonttools
greenlet
importlib-metadata
importlib-resources
itsdangerous
jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
openpyxl
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
reportlab
scipy
seaborn
six
SQLAlchemy
typing-extensions
tzdata
werkzeug
zipp
python-docx
